

/* 
    Navbar Styling
                      */
a.navbar-brand {
    padding: 30px 30px;
    font-size: 45px;
    font-family: "Crete Round";
}

.navbar-right {
  font-family: Comfortaa;
}

nav.navbar-default{
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: rgba(0,0,0, .09);
 
}

header .navbar-default .navbar-nav a:hover {
    color: #56b6ee !important;
}

header .navbar-default .navbar-nav .active a:hover {
    color: #56b6ee;
    background: transparent;
    text-shadow: none;
}


header .navbar-default .navbar-nav .active a {
   background: transparent;
}

ul.navbar-nav {
  padding-top: 15px;
}

ul.navbar-nav li {
  font-size: 20px;
  padding-right: 5px;
}


/*
    Styling for links 
                        */

li {
    margin-bottom: 10px;
}

.linktrans li{
    display: inline-block;
    color: #56b6ee;
    text-decoration: none;
}

.linktrans li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #56b6ee;;
    transition: width .4s;
}

.linktrans li:hover::after {
    width: 100%;

}


/*
      Body Styling

                    */

#secondsection .row {
  font-family: "Questrial";
  font-size: 20px;
  
}

#secondsection h2 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
   
}

#about.row {
  margin-right: 80px;
    margin-left: 80px;
}

#firstsection {
  background-color: coral;
   font-family: "Gentium Basic";
  
}

div.container-fluid {
  padding: 15px 0;
}

.img {
    min-width: 250px;
    margin: 0 auto;
    border-radius: 50%;
    border: 7px solid white;
}

div.sectioninformation{
  margin-top: 100px;
}

@media (min-width: 768px) { 
  .img {
    min-width: 400px;
  } 
}