

/* 
    Navbar Styling
                      */



a.navbar-brand {
    padding: 0 30px;
    font-size: 45px;
    font-family: "Crete Round";
}

.navbar-right {
  font-family: Comfortaa;
}

.navbar-brand img {
      max-height: 90px;
}

nav.navbar-default{
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: none;
    background-color: rgba(246, 249, 253, 0.94);
 
}

header .navbar-default .navbar-nav a:hover {
    color: #56b6ee !important;
}

header .navbar-default .navbar-nav .active a:hover {
    color: #56b6ee;
    background: transparent;
    text-shadow: none;
}


header .navbar-default .navbar-nav .active a {
   background: transparent;
}

ul.navbar-nav {
  padding-top: 15px;
}

ul.navbar-nav li {
  font-size: 20px;
  padding-right: 5px;
}


/*
    Styling for links 
                        */

li {
    margin-bottom: 10px;
}

.linktrans li{
    display: inline-block;
    color: #56b6ee;
    text-decoration: none;
}

.linktrans li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #56b6ee;
    transition: width .4s;
}

.linktrans li:hover::after {
    width: 100%;

}


/*
        h2 underline code
                            */

span {
  position: relative;
  color: black;
  text-decoration: none;
}

span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #56b6ee;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

span:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



/*
      Body Styling

                    */

#secondsection {
  background: linear-gradient(127deg, rgba(0,0,0,.2), rgba(0,0,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
padding-top: 75px;
  padding-bottom:75px;
}

#about span:hover, #portfolio span:hover, #fourthsection span:hover {
    color: white;
    text-shadow: 2px 1px black;
}

#secondsection .row, #thirdsection .row, #fourthsection .row, #fourthsection .row {
  font-family: "Questrial";
  font-size: 20px;
  
}

#secondsection h2, #thirdsection h2, #fourthsection h2 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Comfortaa;
   
}


#about.row, #portfolio.row, #contact.row {
  margin-right: 80px;
    margin-left: 80px;
}

#firstsection {
  background-image: url("images/pexels-photo3.jpg");
   font-family: "Gentium Basic";
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 60px;
  padding-top: 60px;
  
}

#fourthsection {
  margin-top: 100px;
 padding-bottom: 100px;
    background-image: linear-gradient(to bottom, #FFF, #2D3E9A);
}

div.container-fluid {
  padding: 30px 0;
}

.img {
    min-width: 250px;
    margin: 0 auto;
    border-radius: 50%;
    
}

.imgborder {
  border: 7px solid white;
}

div.sectioninformation{
  margin-top: 50px;
  font-size: 60px;
  
}




/*
      Image Overlay Edit   */







/*
        Form Submission
                          */



#contact {
  text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input.btn-primary:hover, .btn-primary:focus {
      background-position: 0 -70px;
}

input.btn-primary {
  font-family: "Barlow";
  font-size:20px;
}

#subject {
  
  margin-bottom: 30px;
}

#content {
  max-height: 0px;
  overflow: hidden;
}

#content.open {
  max-height: 1000px;
/*   overflow: visible; */
  transition: max-height 1.5s ease-in;
}




/*
     Media Queries and before for anchor navigation margin
                                                              */

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

@media (max-width: 306px) { 
.navbar-brand img {
      max-height: 60px;
  }
}
  

@media (min-width: 768px) { 
 max-height: 80px;
    padding-top: 10px;
}

@media (max-width: 768px) { 
  .navbar-brand img{
 max-height: 60px;
  }
 div.sectioninformation {
    font-size:40px;
  }
}