

/* 
    Navbar Styling
                      */


a.navbar-brand {
    padding: 0 30px;
    font-size: 45px;
    font-family: "Crete Round";
}

.navbar-right {
  font-family: Comfortaa;
}

.navbar-brand img {
      max-height: 90px;
}

nav.navbar-default{
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: none;
    background-color: rgba(246, 249, 253, 0.94);
 
}

header .navbar-default .navbar-nav a:hover {
    color: #56b6ee !important;
}

header .navbar-default .navbar-nav .active a:hover {
    color: #56b6ee;
    background: transparent;
    text-shadow: none;
}


header .navbar-default .navbar-nav .active a {
   background: transparent;
}

ul.navbar-nav {
  padding-top: 15px;
}

ul.navbar-nav li {
  font-size: 20px;
  padding-right: 5px;
}


/*
    Styling for links 
                        */

li {
    margin-bottom: 10px;
}

.linktrans li{
    display: inline-block;
    color: #56b6ee;
    text-decoration: none;
}

.linktrans li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #56b6ee;
    transition: width .4s;
}

.linktrans li:hover::after {
    width: 100%;

}


/*
        h2 underline code
                            */

#portfolio span {
  color: white;
}

span {
  position: relative;
  color: black;
  text-decoration: none;
}

span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #56b6ee;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

span:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



/*
      Body Styling

                    */

#thirdsection {
   background-image: url("images/brickwall.jpg");
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

#secondsection {

padding-top: 75px;
margin-bottom: 200px;
}

#secondsection p {
  padding-bottom: 50px;
}

#about span:hover, #portfolio span:hover, #fourthsection span:hover {
    color: white;
    text-shadow: 2px 1px black;
}

#secondsection .row, #thirdsection .row, #fourthsection .row {
  font-family: "Questrial";
  font-size: 20px;
  
}

#fourthsection .row {
  font-family: "Gentium Basic";
  font-size: 20px;
}

#secondsection h2, #thirdsection h2, #fourthsection h2 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Comfortaa;
   
}


#about.row, #portfolio.row, #contact.row {
  margin-right: 40px;
    margin-left: 40px;
}

#about p {
  text-align:justify;
}

#firstsection {
  background-image: url("images/city.jpg");
   font-family: "Gentium Basic";
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 80px;
  padding-top: 80px;
  
}

#secondsection img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

#fourthsection {
  margin-top: 100px;
 padding-bottom: 100px;
}

div.container-fluid {
  padding: 30px 0;
}

.img {
    min-width: 250px;
    margin: 0 auto;
    border-radius: 50%;
    
}

.imgborder {
  border: 7px solid white;
}

div.sectioninformation{
  margin-top: 50px;
  font-size: 60px;
      color: white;
    text-shadow: 2px 2px black;
      padding-left: 80px;
}




/*
      Portfolio   */


#thirdsection img {
      width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
}

aside.projects {
    font-family:"Lucida Sans Unicode", "Lucida Grande";
    background:#2e2e2e;
    padding: 25px;
    padding-top: 1em;
    float: right;
    width: 100%;
    border-radius: 7%;
}

#tabContainer h4 {
    color: rgb(83, 104, 138);
}

#tabs{
    height:30px;
    overflow:hidden;
}

#tabs > ul{
    font: 1em;
    list-style:none;
}
#tabs ul, #tabs li {
    margin:0;
    padding:0;
}

#tabs > ul > li{
    margin:0 2px 0 0;
    padding:7px 10px;
    display:block;
    float:left;
    color:#FFF;
    border-top-left-radius:4px;
    border-top-right-radius: 4px;
    background: #66667d;
}

#tabs > ul > li:hover{
    background: white;
    cursor:pointer;
}

#tabContainer {
  margin: 30px 0;
}

#tabs > ul > .active{
    background: white; 
    cursor:pointer;
}

#containers div {
    background: white;
    padding:10px 10px 25px;
    margin:0;
    color:#333;
}
#tabs a {
    text-decoration: none;
    color: black;
}

#tabPanel1 h4, #tabPanel2 h4, #tabPanel3 h4 {
  text-align:center;
  font-size:25px;
}





/*
        Form Submission
                          */



#contact {
  text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



input.btn-primary:hover, .btn-primary:focus {
      background-position: 0 -70px;
}



input.btn-primary {
  font-family: "Barlow";
  font-size:20px;
  margin: 0 auto;
    display: block;
}

#subject {
  
  margin-bottom: 30px;
}

#content {
  max-height: 0px;
  overflow: hidden;
}

#content.open {
  max-height: 1000px;
/*   overflow: visible; */
  transition: max-height 1.5s ease-in;
}



/*
          Footer          */
footer {
   height:130px;
    background: none;
    background-color: black;
  

}

footer .social {
    color:white;
    padding-top: 30px;
    text-align: center;
  font-size:1.2em;
  padding-bottom: 10px;
}

footer img {
      margin: 0 auto;
    display: block;
  padding-bottom:30px;
}


/* 

            Transitions
                                        */

.grow { 
  transition: all .2s ease-in-out;
}

.grow:hover { 
  transform: scale(1.1); 
}

.shrink {
transition: all .2s ease-in-out;
}
.shrink:hover {
  transform: scale(.75)
}


/*
     Media Queries and before for anchor navigation margin
                                                              */

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}


@media (max-width: 306px) { 
.navbar-brand img {
      max-height: 60px;
  }
}
  

@media (min-width: 768px) { 
 max-height: 80px;
    padding-top: 10px;
}

@media (max-width: 768px) { 
  .navbar-brand img{
 max-height: 60px;
  }
 div.sectioninformation {
    font-size:40px;
  }
   
}

